<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body bgcolor="#f0f2f5">
    <h1 align="center">Campus Event Board</h1>
    <br>
    <hr>

    <form action="/resetPassword" method="POST">
        <table border="1" width="500" cellpadding="10" align="center" bgcolor="#fafafa">
            <caption><h2>Reset Password</h2></caption>
            <tr>
                <td>
                    <!-- STEP 1: Enter Email -->
                    <% if (!securityQuestion) { %>
                        Email: <br>
                        <input type="email" name="resetEmail" value="<%= resetEmail || '' %>" size="40" required><br><br>
                    <% } else { %>
                        <!-- STEP 2: Hidden email for step 2 -->
                        <input type="hidden" name="resetEmail" value="<%= resetEmail %>">

                        <b>Security Question:</b> <%= securityQuestion %><br><br>

                        Your Answer: <br>
                        <input type="text" name="securityAnswer" size="40" required ><br><br>

                        Enter your new password: <br>
                        <input type="password" name="resetPassword" size="40" required><br><br>

                        Confirm password: <br>
                        <input type="password" name="confirmResetPassword" size="40" required><br><br>

                        <hr>
                        Password must:
                        <ul>
                            <li>At least be 8 characters</li>
                            <li>Contain at least one uppercase letter</li>
                            <li>Contain at least one lowercase letter</li>
                            <li>Contain at least one number</li>
                            <li>Contain at least one special character: !@#$%^&*</li>
                        </ul>
                        <hr>
                    <% } %>

                    <% if (resetError) { %>
                        <div style="color:red;"><%- resetError %></div><br>
                    <% } %>

                    <button type="submit">Reset</button>
                    <br><br>
                    <a href="/login">Back to Login</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>